{% extends 'base.html.twig' %}


{% block body %}


            <div class="main">
                <div class="main-inner">
                    <div class="container">
                        <div class="content">

                            <div class="document-title">
                                <h1>Bienvenue dans la liste des services proposés par notre site</h1>

                            </div><!-- /.document-title -->


                            {% include 'search.html.twig' %}


                            {% for service in services %}

                                <h3>{{ service.name }} </h3>


                                <div class="cards-row">
                                    <div class="card-row">
                                        <div class="card-row-inner">
                                            <div class="card-row-image" data-background-image="{{ service.photo.url }}">
                                                <div class="card-row-label">{{ service.name }}</div><!-- /.card-row-label -->
                                            </div><!-- /.card-row-image -->

                                            <div class="card-row-properties">
                                                <dl>
                                                    <dd>Déscription du service :</dd>
                                                    <dt>{{ service.description }}"</dt>
                                                </dl>
                                                <dl>
                                                    <dd>Informations complémentaires :</dd>
                                                    <dt><a href="{{ path('service_show', {'id':service.id}) }}">C'est par ici ;)</a></dt>
                                                </dl>
                                            </div><!-- /.card-row-properties -->
                                        </div><!-- /.card-row-inner -->
                                    </div><!-- /.card-row -->
                                </div>
                            {% endfor %}


                            <div class="pager">
                                <ul>
                                    <li><a href="#">Prev</a></li>
                                    <li><a href="#">5</a></li>
                                    <li class="active"><a>6</a></li>
                                    <li><a href="#">7</a></li>
                                    <li><a href="#">Next</a></li>
                                </ul>
                            </div><!-- /.pagination -->
                        </div><!-- /.content -->
                    </div><!-- /.container -->
                </div><!-- /.main-inner -->
            </div><!-- /.main -->



        {% endblock %}