{% extends 'security_vendor/new.html.twig' %}

{% block contact %}
    <div class="row">
        <div class="form-group col-sm-6">
            {{ form_row(form.name) }}
        </div><!-- /.form-group -->

        <div class="form-group col-sm-6">
            {{ form_row(form.phone) }}
        </div><!-- /.form-group -->

        <div class="form-group col-sm-6">
            {{ form_row(form.emailContact) }}
        </div><!-- /.form-group -->
        <div class="form-group col-sm-6">
            {{ form_row(form.tva) }}
        </div><!-- /.form-group -->
        <div class="form-group col-sm-6">
            {{ form_row(form.website) }}
        </div><!-- /.form-group -->
    </div><!-- /.row -->
{% endblock %}

{% block service %}
    <div class="background-white p20 mb30">
        <h3 class="page-title">
            Vos services
        </h3>
        {{ form_row(form.service) }}
    </div>
{% endblock %}