{% extends 'base.html.twig' %}


{% block body %}
    <div class="main">
        <h1>Modification du mot de passe</h1>

        {{ form_start(form) }}

        <div class="main-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-lg-3">
                        <div class="sidebar">
                            <div class="widget">

                                <ul class="menu-advanced">
                                    <li><a href="{{ path('vendor_profile') }}"><i class="fa fa-user"></i> Modifier votre profil </a></li>
                                    <li class="active"><a href="{{ path('vendor_password') }}"><i class="fa fa-key"></i> Password</a></li>
                                    <li><a href="{{ path('security_logout') }}"><i class="fa fa-sign-out"></i> Logout</a></li>
                                </ul>
                            </div><!-- /.widget -->

                        </div><!-- /.sidebar -->
                    </div><!-- /.col-* -->

                    <div class="col-sm-8 col-lg-9">
                        <div class="page-title">
                            <h1>Change Password</h1>
                        </div><!-- /.page-title -->
                        <div class="form-group">
                            {{ form_row(form.oldPassword) }}
                        </div><!-- /.form-group -->

                        <div class="form-group">
                                {{ form_row(form.newPassword) }}
                        </div>

                        <div class="form-group">
                            {{ form_row(form.confirmPassword) }}
                        </div><!-- /.form-group -->

                        <button type="submit" class="btn btn-primary pull-right">Modifier le mot de passe</button>

                    </div><!-- /.col-sm-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.main-inner -->
        {{ form_end(form) }}
    </div><!-- /.main -->
{% endblock %}