<!DOCTYPE html>
<html>
    <head>
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

            <link href="{{ asset('http://fonts.googleapis.com/css?family=Nunito:300,400,700') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('assets/libraries/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" >
            <link href="{{ asset('assets/libraries/owl.carousel/assets/owl.carousel.css') }}" rel="stylesheet" type="text/css" >
            <link href="{{ asset('assets/libraries/colorbox/example1/colorbox.css') }}" rel="stylesheet" type="text/css" >
            <link href="{{ asset('assets/libraries/bootstrap-select/bootstrap-select.min.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('assets/libraries/bootstrap-fileinput/fileinput.min.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('assets/css/superlist.css') }}" rel="stylesheet" type="text/css" >

            <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/favicon.png') }}">

            <title>Annuaire - Projet de travail</title>
        </head>
        <meta charset="UTF-8">
        {% block container %}
            <div class="page-wrapper">
                <header class="header">
                    <div class="header-wrapper">
                        <div class="container">
                            <div class="header-inner">
                                <div class="header-logo">
                                    <a href="{{ asset(path('home')) }}">
                                        <img src="{{ asset('assets/img/logo.png') }}" alt="Logo">
                                        <span>Superlist</span>
                                    </a>
                                </div><!-- /.header-logo -->

                                <div class="header-content">
                                    <div class="header-top">
                                        <div class="header-search">
                                            <input type="text" class="form-control" placeholder="Search for...">
                                        </div><!-- /.header-search -->

                                        <ul class="header-nav-social social-links nav nav-pills">
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul><!-- /.header-nav-social -->

                                        <ul class="header-nav-secondary nav nav-pills">
                                            <li><a href="{{ asset('login.html') }}">Login</a></li>
                                            <li><a href="{{ asset('register.html') }}">Register</a></li>
                                        </ul>
                                    </div><!-- /.header-top -->

                                    <div class="header-bottom">
                                        <div class="header-action">
                                            <a href="{{ asset('listing-submit.html')}}" class="header-action-inner" title="Add Listing" data-toggle="tooltip" data-placement="bottom">
                                                <i class="fa fa-plus"></i>
                                            </a><!-- /.header-action-inner -->
                                        </div><!-- /.header-action -->

                                        <ul class="header-nav-primary nav nav-pills collapse navbar-collapse">
                                            <li >
                                                <a href="{{ path('home') }}"> Home </a>
                                            </li>
                                            <li >
                                                <a href="{{ path('service') }}"> Services </a>

                                                <ul class="sub-menu">
                                                    {{ render(controller(
                                                        'App\\Controller\\ServiceController::listingServices'
                                                    )) }}
                                                </ul>
                                            </li>
                                            <li >
                                                <a href="{{ path('vendors') }}"> Prestataires </a>

                                                <ul class="sub-menu">
                                                    {{ render(controller(
                                                        'App\\Controller\\VendorController::listingVendors'
                                                    )) }}
                                                </ul>
                                            </li>
                                        </ul>
                                        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".header-nav-primary">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div><!-- /.header-bottom -->
                                </div><!-- /.header-content -->
                            </div><!-- /.header-inner -->
                        </div><!-- /.container -->
                    </div><!-- /.header-wrapper -->
                </header><!-- /.header -->
                {% block body %}
                <div class="main">
                    <div class="main-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4 col-lg-3">
                                    <div class="sidebar">
                                        <div class="widget">
                                            <h2 class="widgettitle">Categories</h2>

                                            <ul class="menu">
                                                {{ render(controller(
                                                    'App\\Controller\\ServiceController::listingServices'
                                                )) }}

                                            </ul><!-- /.menu -->
                                        </div><!-- /.wifget -->
                                        <div class="widget">
                                            <h2 class="widgettitle">Prestataires</h2>

                                            <ul class="menu">
                                                {{ render(controller(
                                                    'App\\Controller\\VendorController::listingVendors'
                                                )) }}

                                            </ul><!-- /.menu -->
                                        </div><!-- /.wifget -->
                                    </div><!-- /.sidebar -->
                                </div><!-- /.col-* -->

                                <div class="col-sm-8 col-lg-9">
                                    <div class="content">
                                        <div class="page-title">
                                            <h1>Service du mois</h1>
                                        </div><!-- /.page-title -->

                                        <div class="posts post-detail">

                                                {{ render(controller(
                                                    'App\\Controller\\ServiceController::imageDuMois'
                                                )) }}
                                        </div><!-- /.post -->
                                    </div><!-- /.content -->
                                </div><!-- /.col-* -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </div><!-- /.main-inner -->
                </div><!-- /.main -->
                {% endblock %}
            </div>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('assets/js/jquery.js')}}" type="text/javascript"></script>
            <script src="{{ asset('assets/js/map.js') }}" type="text/javascript"></script>

            <script src="{{ asset('assets/libraries/bootstrap-sass/javascripts/bootstrap/collapse.js') }}" type="text/javascript"></script>
            <script src="{{ asset('assets/libraries/bootstrap-sass/javascripts/bootstrap/carousel.js') }}" type="text/javascript"></script>
            <script src="{{ asset('assets/libraries/bootstrap-sass/javascripts/bootstrap/transition.js') }}" type="text/javascript"></script>
            <script src="{{ asset('assets/libraries/bootstrap-sass/javascripts/bootstrap/dropdown.js') }}" type="text/javascript"></script>
            <script src="{{ asset('assets/libraries/bootstrap-sass/javascripts/bootstrap/tooltip.js') }}" type="text/javascript"></script>
            <script src="{{ asset('assets/libraries/bootstrap-sass/javascripts/bootstrap/tab.js') }}" type="text/javascript"></script>
            <script src="{{ asset('assets/libraries/bootstrap-sass/javascripts/bootstrap/alert.js') }}" type="text/javascript"></script>

            <script src="{{ asset('assets/libraries/colorbox/jquery.colorbox-min.js') }}" type="text/javascript"></script>

            <script src="{{ asset('assets/libraries/flot/jquery.flot.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('assets/libraries/flot/jquery.flot.spline.js') }}" type="text/javascript"></script>

            <script src="{{ asset('assets/libraries/bootstrap-select/bootstrap-select.min.js') }}" type="text/javascript"></script>

            <script src="{{ asset('http://maps.googleapis.com/maps/api/js?libraries=weather,geometry,visualization,places,drawing&amp;sensor=false') }}" type="text/javascript"></script>

            <script type="text/javascript" src="{{ asset('assets/libraries/jquery-google-map/infobox.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/libraries/jquery-google-map/markerclusterer.js') }}"></script>
            <script type="text/javascript" src="{{ asset('}assets/libraries/jquery-google-map/jquery-google-map.js') }}"></script>

            <script type="text/javascript" src="{{ asset('assets/libraries/owl.carousel/owl.carousel.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/libraries/bootstrap-fileinput/fileinput.min.js') }}"></script>

            <script src="{{ asset('assets/js/superlist.js') }}" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>
